
<h2 *ngIf="links$" style="padding: 10px">Bird/Picture Links</h2>
<table>
    <tr>
        <th>link id</th>
        <th>bird id</th>
        <th>image id</th>
        <th>action</th>
    </tr>
    <tr *ngFor='let link of links$'>
        <td>
            {{ link.id }}

        </td>
        <td>
            {{ link.birdId }}
        </td>
        <td>
            {{ link.imageId }}
        </td>
        <td>
            <button style="font-size: 10px;"
                (click)="deleteLink(link.id)">
                Delete</button>
        </td>
    </tr>

</table>
<p></p>
<hr>
<p></p>
<br>
BirdId:
<input #newBirdId name="newBirdId" value="">
<br>
ImageId:
<input #newImageId name="newImageId" value="">
<p></p>
<button (click)="createLink(newBirdId.value, newImageId.value)">Add</button>

<hr>