table, th, td {
    margin: 10px;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
  .photo {
    padding: 0px 0px 0px 0px;
    border: 3px solid #fff;
    outline: 1px solid #000;
    margin: 1px;
    width: 125px;
    height: 95px;
    display: block;
 }