
<h2 *ngIf="images$" style="padding:10px;">Images</h2>
<p></p>
Message: {{ message }}
<p></p>

<table class="images">
    <tr>
        <th>id</th>
        <th>image</th>
        <th>filename</th>
        <th>camera</th>
        <th>date</th>
        <th>time</th>
        <th>description</th>
        <th>lastUpdate</th>
        <th>status</th>
    </tr>
    <tr *ngFor='let image of images$'>
        <!-- <td>{{ image.id }}
            <br>
            <button 
                *ngIf="!(editOn)" 
                style="font-size: 10px" 
                (click)="editImage(image.id)" 
            >Edit</button>
            <button 
                *ngIf="editOn && (image.id == editId)" 
                style="font-size: 10px" 
                (click)="updateImage( image.id, myFilename.value, mySourceCamera.value, myDate.value, myTime.value, myDescription.value, myLastUpdate.value, myStatus.value)" 
            >Update</button>
            <button 
                *ngIf="editOn && (image.id == editId)" 
                style="font-size: 10px" 
                (click)="deleteImage(image.id)" 
                >Delete</button>
            <button 
                *ngIf="editOn && (image.id == editId)" 
                style="font-size: 10px" 
                (click)="cancelImage(image.id)" 
                >Cancel</button>

        </td> -->
        <td>{{ image.id }}
            <br>
            <button 
                style="font-size: 10px" 
                (click)="editImage(image.id)" 
                >Edit</button>
            <br>
            <button 
                style="font-size: 10px" 
                (click)="updateImage( image.id, myFilename.value, mySourceCamera.value, myDate.value, myTime.value, myDescription.value, myLastUpdate.value, myStatus.value)" 
            >Update</button>
            <button  
                style="font-size: 10px" 
                (click)="deleteImage(image.id)" 
                >Delete</button>
        </td>
        <td>
            <a href="http://10.0.1.14/images/{{image.filename}}" target="_blank">
                <img class="photo"
                src="http://10.0.1.14/images/icon_{{image.filename}}"
                alt="image">
            </a>
        </td>        
        <td>
            {{ image.filename }}
            <!-- *ngIf="editOn && (image.id == editId)" -->
            <input 
                style="font-style: italic; color:blue; width: 15em;"  
                #myFilename placeholder="myFilename" 
                value="{{image.filename}}">
        </td>
        <!-- Need to add a dropdown list for values of sourceCamera to choose  -->
        <td>{{ image.sourceCamera }}
                <input 
                style="font-style: italic; color:blue; width: 6em;"  
                #mySourceCamera placeholder="mySourceCamera" 
                value="{{image.sourceCamera}}">
        </td>
        <td>{{ image.date }}
                <input 
                type="date"
                style="font-style: italic; color:blue; width: 9em;"  
                #myDate placeholder="myDate" 
                value="{{image.date}}">
        </td>
        <td>{{ image.time }}
                <input 
                type="string"
                style="font-style: italic; color:blue; width: 9em;"  
                #myTime placeholder="myTime" 
                value="{{image.time}}">
        </td>
        <td>{{ image.description }}
                <textarea 
                #myDescription placeholder="myDescription" 
                cols="30" rows="2"
                style="font-style: italic; color:blue; width: 25em;"  
                value="{{image.description}}"></textarea>
        </td>
        <td>{{ image.lastUpdate }}
                <input 
                type="datetime"
                style="font-style: italic; color:blue; width: 13em;"  
                #myLastUpdate placeholder="myLastUpdate" 
                value="{{image.lastUpdate}}">
        </td>
        <td>{{ image.status }}
                <input 
                style="font-style: italic; color:blue; width: 10em;"  
                #myStatus placeholder="myStatus" 
                value="{{image.status}}">
        </td>
    </tr>

</table>